@import "tailwindcss";

.newsreader-font-sleek {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.newsreader-font {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}